<div class="jumbotron">
  <h1>Banner</h1>
</div>


<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag(listing.image.url), listing %>
        <div class="caption center">
          <h4><%= listing.name %></h4>
          <h5><%= number_to_currency(listing.price) %></h5>
          <%= "Sold by #{listing.user.name}" %>
          <br>
          <% if current_user == listing.user %>
            <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %>
            <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<br>
<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-link", data: {no_turbolink: true} %>
<% end %>
