<div class="center">
	<h1>Manage Listings</h1>

	<table class="table table-striped table-bordered">
	  <tr>
	  	<th class="center">Image</th>
	  	<th class="center">Name</th>
	  	<th class="center">Description</th>
	  	<th class="center">Price</th>
	  	<th class="center">Action</th>
	  </tr>
	  <% @listings.each do |listing| %>
	  	<tr>
	  		<td><%= image_tag listing.image.url(:thumb) %></td>
	  		<td><%= listing.name %></td>
	  		<td><%= listing.description %></td>
	  		<td><%= number_to_currency(listing.price) %></td>
	  		<td>
	  			<div class="btn-group">
				  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				    Action <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><%= link_to 'View', listing, class: "btn btn-link" %></li>
				    <li><%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %></li>
				    <li><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></li>
				  </ul>
				</div>
	  		</td>
	  	</tr>
	  <% end %>
	</table>
</div>

<br>
<% if user_signed_in? %>
	<%= link_to 'New Listing', new_listing_path, class: "btn btn-link", data: {no_turbolink: true} %>
<% end %>