<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @listing.image.url %>
    </div>
  </div>
  <div class="col-md-6">
    	<h3><%= @listing.name %></h3><br>
    	<%= @listing.description %><br>
    	<%= number_to_currency(@listing.price) %><br>
     <div class="center">
      <%= link_to 'Buy It Now', new_listing_order_path(@listing), class: "btn btn-primary", data: {no_turbolink: true} %>
     </div>
  </div>
</div>

<% if current_user == @listing.user %>
  <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<% end %>
<%= link_to 'Back', listings_path, class: "btn btn-link" %>
