<div class="center">
	<h1>Your Purchases History</h1>
</div>

<table class="table table-striped table-bordered">
  <tr>
  	<th class="center">Image</th>
	<th class="center">Name</th>
	<th class="center">Price</th>
	<th class="center">Seller</th>
	<th class="center">Date Purchased</th>
  </tr>

  <% @orders.each do |order| %>
	<tr>
	  <td><%= image_tag order.listing.image.url(:thumb) %></td>
	  <td><%= order.listing.name %></td>
	  <td><%= number_to_currency(order.listing.price) %></td>
	  <td><%= order.seller.name %></td>
	  <td><%= order.created_at.strftime("%B %-d, %Y") %></td>
	</tr>
  <% end %>
</table>