<div class="center">
	<h1>Your Sales History</h1>

	<table class="table table-striped table-bordered">
	  <tr>
	  	<th class="center">Image</th>
	  	<th class="center">Name</th>
	  	<th class="center">Price</th>
	  	<th class="center">Customer</th>
	  	<th class="center">Date Sold</th>
	  </tr>
	  <% @orders.each do |order| %>
	  	<tr>
	  		<td><%= image_tag order.listing.image.url(:thumb) %></td>
	  		<td><%= order.listing.name %></td>
	  		<td><%= number_to_currency(order.listing.price) %></td>
	  		<td><%= order.buyer.name %></td>
	  		<td><%= order.created_at.strftime("%B %-d, %Y") %></td>
	  	</tr>
	  <% end %>
	</table>
</div>