@import 'bootstrap';

body {
	background-color: #F5F5F1;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}

.navbar-default {
	background-color: #EFEFEB;
}

.navbar-default .navbar-brand {
	font-family: guardian-egyptt, georgia, serif;
  	font-weight: 400;
  	color: #d5641c;
  	font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
	font-family: Arial, Helvetica, sans-serif;
  	font-size: 14px;
  	font-weight: bold;
  	color: #0192B5;
}

.center {
	text-align: center;
}

.col-md-3:nth-child(4n+1) {
	clear: left;
}

.col-md-6 {
	h3 {font-size: 45px;}
	h5 {font-size: 25px;}
	p {font-size: 10px;}
}

.caption {
	h3 {
		font-size: 17px;
		margin: 2px;
	}
	p {
		font-size: 15px;
		margin: 0px;
	}
}

.jumbotron {
	background-image: url('jumbotron.jpg');
	h1, h2 {
		font-family: guardian-egyptt, georgia, serif;
	}
}